include LICENSE
include README.md
include pyproject.toml
include requirements-dev.txt

recursive-include tests *
recursive-exclude tests __pycache__
recursive-exclude tests *.pyc

recursive-include llm_connectors *.py
recursive-exclude llm_connectors __pycache__
recursive-exclude llm_connectors *.pyc 